doctype html
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title TP3 - AppWeb - LiberBook
	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
	link(rel="stylesheet", href="../stylesheets/opiniones.css")
	
body

	nav(class="navbar navbar-default navbar-static-top")
		.container
			.navbar-header
				a(class="navbar-left")
					img(src="/images/logo_.png" style= "width:50px;")
				a(class="navbar-brand" href="../") Liberbook
				a(class="navbar-brand" href="#") Coleccion


	-var longitud=data.length
	.container
	-for (var x = 0; x < longitud; x++)
		if x % 3 == 0
			.row
		.col-md-4.col-xs-12
			.thumbnail
				a.responsive
					center 
						a.btn(data-toggle="modal", href="#myModal")
							img(src=data[x].imagen, class='img-thumbnail')
			.caption
				a(href='../libros/'+data[x].title)=data[x].title
	

	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js")
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS' crossorigin='anonymous')