doctype html
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title TP3 - AppWeb - LiberBook
	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
	link(rel="stylesheet", href="../stylesheets/opiniones.css")
	
body

	nav(class="navbar navbar-default navbar-static-top")
		.container
			.navbar-header
				img(src="/images/logo_.png" style= "width:50px; text-align: left;")
				a(class="navbar-brand" href="../") Liberbook


	

	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js")
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS' crossorigin='anonymous')