<h1 id="resultados" hidden="true"> Resultados de la búsqueda</h1>
<div class="pin-layout">
    <div  ng-repeat="libro in LibrosResultados">
      <div align="center">
     	 <div class="thumbnails">  
	          <img ng-src="{{libro.thumbnail}}">
	           <div align="center">

		            <form method="post" action="/api/libro/{{libro.id}}">
						<input name="agregar" type="image" src="/images/agregar.png" width="35" height="35">
					</form>

				</div>
	            <h3>{{libro.title}}</h3>
	            <p> {{libro.description}}}</p>
	            <p> {{libro.author}} </p>
	            <p> Precio:${{libro.precio}}, Lenguaje:{{libro.language}}</p>
		</div>
      </div>
	</div>
</div>



 