  <div class="card-deck-wrapper" style="width: 300px;height:300px;">
    <div class="card-deck">

      <div class="card" ng-repeat="libro in LibrosResultados" ng-model="contador" ng-init="contador=0">
        <img class="card-img-top" src={{libro.thumbnail}}  width="240" height="200" alt="Card image cap">
          <p>{{$index}} </p>
          <div ng-if="$index == 0" >
            <p> nes 0 o 3 </p>
          </div>

          <div class="card-block">
          <h4 class="card-title">{{libro.title}}</h4>
          <p class="card-text">{{libro.description}}}</p>
          <p class="card-text">{{libro.author}} </p>
          <p class="card-text"><small class="text-muted">Precio:{{libro.precio}}, Lenguaje:{{libro.lenguaje}}</small></p>
        </div>
      </div>
    </div>
</div>
 