head
 meta(charset="UTF-8")
 meta(name="viewport", content="width=device-width, initial-scale=1")
 title TP3 - AppWeb - LiberBook
 link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
 link(rel="stylesheet", href="/stylesheets/style.css")
 link(href="https://fonts.googleapis.com/css?family=Kaushan+Script",rel="stylesheet",type="text/css")
 script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS' crossorigin='anonymous')
 script(src='/javascripts/main.js')