head
 meta(charset="UTF-8")
 meta(name="viewport", content="width=device-width, initial-scale=1")
 title TP3 - AppWeb - LiberBook
 link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
 link(rel="stylesheet", href="/stylesheets/style.css")
 link(href="https://fonts.googleapis.com/css?family=Kaushan+Script",rel="stylesheet",type="text/css")
 script(src='/javascripts/main.js')