
   
   <!--
   <div class="about" style="background-color: rgba(255, 0, 0, 0.3); text-align: right;"> <h2>Ante ciertos libros, uno se pregunta: ¿quién los leerá? Y ante ciertas personas uno se pregunta: ¿qué leerán? </h2> 
   <h2>Y al fin, libros y personas se encuentran. </h2> 

   
   <br> <h2>André Gide (1859-1951) Escritor francés </h2></div>
   -->
    
    

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/angular.min2.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>