<div class="container"> 
<!--Cabecera-->
    <!--
    <div class="jumbotron text-center">
        <h1>LiberBook  <span class="label label-info">{{ libros.length }}</span></h1>
    </div>
    -->
    <!--Lista de libros-->

    <div class="container">
   <div class="about" style="background-color: rgba(255, 0, 0, 0.3); text-align: right;"> <h1>Ante ciertos libros, uno se pregunta: ¿quién los leerá? Y ante ciertas personas uno se pregunta: ¿qué leerán? </h1> 
   <h1>Y al fin, libros y personas se encuentran. </h1> 
   
   <br> <h1>André Gide (1859-1951) Escritor francés </h1></div>
    </div>
    <div id="libro-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox" ng-repeat="libro in libros">
                <label>
                    <input type="checkbox" ng-click="deleteLibro(libro._id)"> {{ libro.text }} 
                </label>
             </div>
         </div>
     </div>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/main.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>