<div class="container"> 
<!--Cabecera-->
    <div class="jumbotron text-center">
        <h1>LiberBook  <span class="label label-info">{{ libros.length }}</span></h1>
    </div>
    <!--Lista de libros-->
    <div id="libro-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox" ng-repeat="libro in libros">
                <label>
                    <input type="checkbox" ng-click="deleteLibro(libro._id)"> {{ libro.text }} 
                </label>
             </div>
         </div>
     </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/main.js"></script>