script(src='/javascripts/main.js')
include modal.jade

container
			each x in [0,1,2,3,4,5,6,7,8]
				if x == 0 || x == 3 || x == 6 || x == 9
					.row
				.col-md-4.col-xs-12
					.thumbnail
						a.responsive
							center 
								button(style='text-align: center' , onclick='mostrar_libro(this.x)') 
									img(src=valores[x].volumeInfo.imageLinks.thumbnail, class='img-thumbnail')
					.caption
						h3=valores[x].volumeInfo.title





