.ng-enter{
    transition: 2s;
    opacity: 0;

}
.ng-enter-active{
    opacity: 1;

}
.ng-leave{
    transition: 2s;
    opacity: 1;

}
.ng-leave-active{
    opacity: 0;


}
.imagen:hover{
	-moz-box-shadow: 0 0 30px #000; -webkit-box-shadow:0 0 30px #000; box-shadow: 0 0 30px #000;
	-webkit-transform: scale(1.5);
    transform: scale(1.5);
}