h3 {font-family: 'Kaushan Script', cursive;}

#formularioLogin{
  width: 40%;
  margin: 0 auto;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

#tallModal .modal-body p { margin-bottom: 900px }


.pin-layout{
  column-count: 3; /*Diseño multicolumnas (4)*/
  column-gap:5px; /*separacion*/
  -moz-column-count:3;
  -moz-column-gap:0px; /*Mozilla*/
  -webkit-column-count:3;
  -webkit-column-gap:0px; /*Chrome*/

}
.div.thumbnail{
  display:inline-block;
  margin:5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px;
}
body{
  background-color: #ddd;
}